\#*
*#*
*.stackdump
*.elc
*.pyc
*.swp
/*.zip
.emacs.d/auto-save-list/
.emacs.d/server
.emacs.d
elpa  
projectile-bookmarks.eld
transient
history
quelpa
backups 
org-roam.db
.history
url
session.*
.emacs~
emacs_demon.cmd~
*.el~
.bash_history
.virtualenvs
.authinfo
.gnupg
AddApps/
/tramp
/parinfer-rust/
/elpy/
/.cache/
/.lsp-session-v1
/.cache.tar.gz
/eshell/
/bookmarks
